.container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.content {
  flex-grow: 1;
}

.tabs {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tabs a {
  border: none;
  background: none;
  padding: 1rem 1.5rem;
  font-size: 1rem;
  cursor: pointer;
  color: gray;
  text-decoration: none;
}

.tabs a.active {
  color: black;
}

.enter-btn {
  margin-right: 1rem;
  aspect-ratio: 1;
  height: 2.5rem;
  background: none;
  border-radius: 100%;
  border: none;
}

.enter-btn:hover {
  background: rgba(0,0,0,0.1);
  cursor: pointer;
}